<div class="container mt-3">
    <h4>Order result</h4>
    <div class="alert alert-info">
        Your Order sended to us shop!  Thanks you for shopping. 
        <a href="/customer/Home/Index">Go to shopping</a>
    </div>
</div>
