@model Product
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <h2>Add Product</h2>
    <hr />
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Discription</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList" >
            <option disabled>===Chọn thể loại==</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group pb-2">
        <label>Product Image</label>
        <input asp-for="ImageUrl" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>